<div class="contact-section">
  <header>
    <h3 class="navigation-title">
      Contact
      <span>Me</span>
    </h3>
  </header>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="container contact-container">
    <div class="input-group-box">
      <div class="input-box">
        <label>Full Name</label>
        <input type="text" placeholder="Ex: John Doe" formControlName="fullName" required>
      </div>
      <div class="input-box">
        <label>Email</label>
        <input type="email" placeholder="Ex: example@gmail.com" formControlName="email" required>
      </div>
      <div class="input-box">
        <label>Subject</label>
        <input type="text" placeholder="Ex: Build startup website" formControlName="subject" required>
      </div>
    </div>
    <div class="input-group-2">
      <div class="input-box">
        <label>Mobile/Phone number</label>
        <input type="number" placeholder="Ex: +91 1234567890" formControlName="phoneNumber">
      </div>
      <div class="input-box">
        <label>Message</label>
        <textarea name="" id="" cols="30" rows="6" placeholder="Your Message" formControlName="message"></textarea>
      </div>
      <button class="ctm-basic-btn ctm-btn-style-1 btn-slide-animation slide-transparent" type="submit"
        [disabled]="isFormSubmitting">Send
        Message</button>
    </div>
  </form>
  <div class="social-icons">
    <a *ngFor="let media of dataService?.socialMedias;" [href]="media?.link" target="_blank"
      class="btn-slide-animation slide-main"><i class="bx" [ngClass]="media?.icon"></i>
    </a>
  </div>
  <div class="copy-right-section text-center">
    Super-powered by {{dataService.name}} © {{dataService.portfolioCreatedYear}} •
    <a [href]="dataService.portfolioRepoLink">source code</a>
    <p><small>Last updated: {{dataService.lastPortfolioUpdateDate}}</small></p>
  </div>
</div>