.contact-section {
  // padding: 60px 0;
  // height: 100%;
  // background-color: var(--bg-color);

  .contact-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
    margin-top: 50px;


    .input-group-box {
      display: flex;
      flex-direction: column;

    }

    .input-group-box,
    .input-group-2 {
      .input-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;

        &:has(input[required]) label::after {
          content: " *";
          color: red;
        }

        &:not(:has(input[required])) label::after {
          content: " (Optional)";
          color: gray;
        }

        label {
          color: var(--text-color);
          text-align: left;
          margin-top: 10px;
        }
      }
    }

    .input-group-2 {

      button {
        padding: 10px 40px;
        margin-right: 10px;
        margin-top: 10px;
      }
    }

    .input-box input,
    textarea {
      width: 350px;
      padding: 16px;
      font-size: 1rem;
      color: var(--text-color);
      background-color: var(--second-bg-color);
      border-radius: 10px;
      border: solid var(--second-bg-color);
      margin: 5px 0;
      resize: none;
      display: block;

      &:focus {
        border-color: var(--primary-color) !important;
      }
    }
  }

  .copy-right-section {
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 1.5px;

    a {
      color: var(--text-color);
      text-decoration: underline !important;
    }
  }
}



input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-inline: 12px;
}