<div class="contact" id="contact">
  <header>
    <h3 class="navigation-title">
      Contact
      <span>Me</span>
    </h3>
  </header>
  <form action="" class="container contact-container">
    <div class="input-group-box">
      <div class="input-box">
        <input type="text" placeholder="Full Name">
      </div>
      <div class="input-box">
        <input type="email" placeholder="Email">
      </div>
      <div class="input-box">
        <input type="number" placeholder="Phone Number">
      </div>
      <div class="input-box">
        <input type="text" placeholder="Subject">
      </div>
    </div>
    <div class="input-group-2">
      <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
      <button class="btn-1 btn-slide-animation slide-transparent">Send Message</button>
    </div>
  </form>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/tagore-banda/" target="_blank" class="btn-slide-animation slide-main"><i
        class='bx bxl-linkedin'></i></a>
    <a href="https://github.com/tagore9930" target="_blank" class="btn-slide-animation slide-main"><i
        class='bx bxl-github'></i></a>
    <a href="https://api.whatsapp.com/send?phone=917026756993" target="_blank" class="btn-slide-animation slide-main"><i
        class='bx bxl-whatsapp'></i></a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=tagore9930@gmail.com" target="_blank"
      class="btn-slide-animation slide-main"><i class='bx bxl-gmail'></i></a>
  </div>
</div>