<div class="about-section bg-color">
  <h3 class="navigation-title">About <span>Me</span></h3>
  <div class="container-sm about-container h-100">
    <div class="information">
      <p class="description">{{dataService.aboutDescription}}</p>

      <div class="showcase-cards-section">
        <div class="showcase-card" *ngFor="let showcase of dataService?.showcaseCards">
          <span class="digit">{{showcase.digit}}+</span>
          <span class="type">{{showcase.type}}</span>
        </div>
      </div>

      <div class="social-icons">
        <a *ngFor="let media of dataService.socialMedias" [href]="media.link" target="_blank" [matTooltip]="media.name"
          matTooltipPosition="above" rel="noopener noreferrer" [attr.aria-label]="media.name"
          class="btn-slide-animation slide-main"><i class="bx" [ngClass]="media.icon"></i>
        </a>
      </div>

      <div class="action-buttons">
        <button class="ctm-basic-btn ctm-btn-style-1 btn-slide-animation slide-transparent" (click)="openResume()"
          aria-label="Open Resume">Resume</button>
        <button class="ctm-basic-btn ctm-btn-style-2 btn-slide-animation slide-main" (click)="scrollToContact()"
          aria-label="Scroll to Contact Section">Contact</button>
      </div>
    </div>
  </div>
</div>