.about-section {
  padding: 60px 0;
  // height: 100%;

  // .col-md-6 {
  //   background-color: aqua;
  // }

  .about-container {
    display: flex;
    gap: 60px;
    // align-items: center;

    .information {
      // text-align: justify;
      width: 50%;
      vertical-align: middle;

      .description {
        color: var(--text-color);
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        line-height: 1.5;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .showcase-cards-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-block: 10px;

        .showcase-card {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 10px 15px;
          border: solid var(--primary-color);
          border-radius: 15px;
          line-height: 1;
          width: 300px;

          .digit {
            font-size: 50px;
            color: var(--primary-color);
          }

          .type {
            font-size: 25px;
            color: var(--text-color);
          }

        }
      }

      .action-buttons {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        // background-color: gray;

        button {
          padding: 10px 40px;
          min-width: fit-content;
        }
      }
    }

    .skills {
      width: 50%;
      // padding: 0 20px;
      color: var(--text-color);

      .skills-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5px;

        .skill {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          gap: 5px;
          transition: all 200ms linear;
          color: var(--text-color);
          cursor: pointer;

          &:hover {
            transform: translateY(-5px) scale(1.1);
            background-color: var(--second-bg-color);
            border-radius: 8px;
          }


          .skill-img {
            width: 75px;
            height: 75px;
            min-width: 75px;
            min-height: 75px;
            max-width: 75px;
            max-height: 75px;
          }

          .skill-name {
            margin: 0;

            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}