<div class="about-section bg-color">
  <h3 class="navigation-title">About <span>Me</span></h3>
  <div class="container-sm about-container h-100">
    <div class="information">
      <p class="description">{{dataService.aboutDescription}}</p>
      <div class="social-icons">
        <a *ngFor="let media of dataService?.socialMedias;" [href]="media?.link" target="_blank"
          class="btn-slide-animation slide-main"><i class="bx" [ngClass]="media?.icon"></i>
        </a>
      </div>

      <div class="action-buttons">
        <button class="ctm-basic-btn ctm-btn-style-1 btn-slide-animation slide-transparent"
          (click)="window.open(dataService.resumeLink, '_blank')">Resume</button>
        <button class="ctm-basic-btn ctm-btn-style-2 btn-slide-animation slide-main">Contact</button>
      </div>
    </div>
    <div class="skills">
      <h4 class="ms-1 fs-5 fw-b">Skills</h4>
      <div class="skills-list">
        <a [href]="skill?.officalSite" target="_blank" class="skill" *ngFor="let skill of dataService?.skills">
          <img src="assets/skills/{{skill.img}}" alt="{{skill.name}} Image" class="skill-img">
          <p class="skill-name">{{ skill.name }}</p>
        </a>
      </div>
    </div>
  </div>
</div>