<div class="hero-section">
  <div class="container-sm hero-container d-flex h-100 gap-2">
    <div class="my-details">
      <h3 class="hero-name">Hi, I'm <span>{{dataService.name}}</span></h3>
      <h2 class="hero-roles">I am a <span #typedElement></span>
      </h2>
      <p class="hero-message mb-0">{{dataService.heroSmallAbout}}</p>
      <div class="social-icons">
        <a *ngFor="let media of dataService?.socialMedias;" [href]="media?.link" target="_blank"
          class="btn-slide-animation slide-main"><i class="bx" [ngClass]="media?.icon"></i>
        </a>
      </div>

      <div class="action-buttons">
        <button class="ctm-basic-btn ctm-btn-style-1 btn-slide-animation slide-transparent"
          (click)="window.open(dataService.resumeLink, '_blank')">Resume</button>
        <button class="ctm-basic-btn ctm-btn-style-2 btn-slide-animation slide-main">Contact</button>
      </div>
    </div>
    <div class="hero-img-container">
      <div class="bg-blob">
        <img src="/assets/profile-img-no-background.png" class="hero-img" alt="Hero-Image">
      </div>
    </div>
  </div>
</div>