<div class="journeys bg-color" id="journey">
  <header class="container">
    <h3 class="navigation-title m-0">
      {{(isExperience) ? 'Experience' : 'Education'}}
      <span>Journey</span>
    </h3>
    <div class="custom-switch">
      <div class="switch-types">
        <mat-checkbox [(ngModel)]="isExperience" color="primary" hidden></mat-checkbox>
        <span class="journey-type" [class.active]="!isExperience"
          (click)="isExperience = false; changeJourneyType()">Education</span>
        <span class="journey-type" [class.active]="isExperience" (click)="isExperience = true; changeJourneyType()">
          Experience
        </span>
      </div>
    </div>
  </header>

  <main class="journeys-container container">
    <div class="row gap-5 journeys-section">
      <mat-card class="journey-card" *ngFor="let journey of journeys">
        <mat-card-header class="mb-3">
          <mat-card-title class="d-flex justify-content-between">
            <span class="jny-title">{{journey.role}}</span>
            <span class="jny-duration">{{journey.duration.start | date: 'MMM YYYY'}} – {{(journey.duration.end) ?
              (journey.duration.end |
              date: 'MMM yyyy') : 'Present'}}</span>
          </mat-card-title>
          <mat-card-subtitle>
            <span>{{journey.organization}} – ( {{journey.location}} )</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{journey.description}}</p>
          <ul class="ps-3">
            <li *ngFor="let bltPoint of journey.bulletPoints" class="lh-lg">{{bltPoint}}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button color="primary" class="rounded-pill border-white me-2"
            *ngFor="let skill of journey.topSkills" [href]="skill.officalLink" target="_blank">{{skill.name}}</a>
        </mat-card-actions>
      </mat-card>
      <!-- <div class="journey-div col-4" *ngFor="let myJourney of journeys">
        <header>
          <p class="journey-title">Frontend Angular Engineer</p>
          <div>
            <p style="margin: 0">Freelancer</p>
            <div class="journey-duration">
              <span>●</span>
              <span>Jan 2024</span>
              <span>-</span>
              <span>Feb 2024</span>
            </div>
          </div>
        </header>
        <main>
          <div class="journey-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            assumenda tempora nesciunt. Eos, beatae dolor provident, obcaecati
            corporis nam tenetur sequi ratione iste perferendis eveniet
            excepturi consequuntur doloremque nisi voluptatibus.
          </div>
          <div class="top-skills">
            <span class="top-skills-title">Top Skills:</span>
            <span>Angular,</span>
            <span>Angular Material,</span>
            <span>Html 5,</span>
            <span>CSS,</span>
            <span>Typesript</span>
          </div>
        </main>
      </div> -->
    </div>
  </main>
</div>