.home {
  // background-color: green;
  padding: 60px 0;
  height: 100%;

  .home-container {
    // background-color: rgba(255, 0, 0, 0.737);
    // height: 100%;
    // padding: 0;

    .col-6 {
      // background-color: rgba(0, 255, 255, 0.619);
      // border: 1px solid;
    }

    .my-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: inherit;
      width: 60vw;

      .hero-name {
        font-size: 25px;
        font-weight: 500;
        color: var(--text-color);

        span {
          color: var(--primary-color);
        }
      }

      .hero-message {
        color: var(--text-color);

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .hero-roles {
        font-size: 34px;
        // font-size: 25px;
        font-weight: 600;
        min-width: 280px;
        color: var(--text-color);

        span {
          position: relative;

          &::before {
            content: 'Web Developer';
            color: var(--primary-color);
            animation: words 20s infinite;
          }

          &::after {
            content: '';
            background-color: var(--bg-color);
            position: absolute;
            width: calc(100% + 8px);
            height: 100%;
            border-left: 3px solid var(--bg-color);
            right: -8px;
            animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
          }

          @keyframes cursor {
            to {
              border-left: 2px solid var(--primary-color);
            }
          }

          @keyframes words {

            0%,
            20% {
              content: 'Frontend Developer';
            }

            21%,
            40% {
              content: 'Web Developer';
            }

            41%,
            60% {
              content: 'UI / UX Designer';
            }

            61%,
            80% {
              content: 'Frontend Developer';
            }

            81%,
            100% {
              content: 'Web Developer';
            }
          }

          @keyframes typing {

            10%,
            15%,
            30%,
            35%,
            50%,
            55%,
            70%,
            75%,
            90%,
            95% {
              width: 0;
            }

            5%,
            20%,
            25%,
            40%,
            45%,
            60%,
            65%,
            80%,
            85% {
              width: calc(100% + 8px);
            }
          }
        }
      }

      .social-icons {
        display: flex;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
          background-color: transparent;
          border: 2px solid var(--primary-color);
          font-size: 27px;
          border-radius: 50%;
          color: var(--primary-color);
          margin: 25px 15px 25px 0;
          transition: 0.3s ease-in-out;
        }

        a:hover {
          color: var(--bg-color);
          transform: scale(1.3)translateY(-5px);
          // box-shadow: 0 0 25px var(--primary-color);
          background-color: var(--primary-color);
        }
      }

      .action-buttons {
        // background-color: gray;

        .btn-1,
        .btn-2 {
          padding: 10px 40px;
          font-size: 18px;
          font-weight: 600;
          border: 2px solid var(--primary-color);
          border-radius: 50px;
          margin-right: 10px;
          color: var(--bg-color);
          overflow: hidden;
          transition: background-color 350ms ease-in-out;
        }

        .btn-1 {
          background-color: var(--primary-color);
          // box-shadow: 0 0 25px var(--primary-color);

          &:hover {
            background-color: transparent;
            color: var(--primary-color);
          }
        }

        .btn-2 {
          color: var(--primary-color);
          background-color: transparent;

          &:hover {
            // background-color: var(--primary-color);
            color: var(--bg-color);
          }
        }
      }
    }

    .hero-img-container {
      // border: solid;
      width: 40vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .bg-blob {
        position: relative;
        width: 75%;
        height: 75%;
        // height: 300px;
        background-color: var(--primary-color);
        border-radius: 49% 51% 52% 48% / 23% 23% 77% 77%;
        // border-radius: 50%;
        overflow: hidden;
      }

      .hero-img {
        width: 100%;
        height: 100%;
        position: absolute;
        // top: -50px;
      }
    }

  }

  @media screen and (max-width: 768px) {
    .home-container {
      flex-direction: column-reverse;
      align-items: center;

      .my-details {
        width: 100%;
        // padding: 0 50px;
      }

      .hero-img-container {
        width: 75vw;
        height: 50vh;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .my-details {
    .hero-roles {
      font-size: 25px !important;
    }
  }
}