<div class="portfolio" [ngStyle]="{ 'pointer-events': loaderService.getLoadingState ? 'none' : ''}">
  <div class="snackbar" #snackbarId>
    <p class="snackbar-info">Details is invalid</p>
    <span class="snackbar--close">✕</span>
  </div>

  <div class="loader-section" *ngIf="loaderService.getLoadingState">
    <mat-spinner></mat-spinner>
  </div>

  <my-header #appHeader></my-header>
  <div #section id="hero" class="main-section">
    <hero></hero>
  </div>

  <div #section id="about" class="main-section">
    <about></about>
  </div>

  <div #section id="journey" class="main-section">
    <my-journeys></my-journeys>
  </div>

  <div #section id="projects" class="main-section">
    <projects></projects>
  </div>

  <div #section id="contact" class="main-section">
    <contact></contact>
  </div>
</div>