.portfolio {
  background-color: var(--bg-color);
  height: 100%;
  overflow-y: auto;
  position: relative;
  // pointer-events: none;
}

.loader-section {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: var(--bg-color);
  opacity: 0.8;
  pointer-events: none;

  display: grid;
  place-items: center;
}

::ng-deep .main-section {
  transition: transform 1s, opacity 1s;

  &:has(.hero-section) {
    height: 100%;
  }

  &.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

::ng-deep .mdc-snackbar {
  color: white;

  &.snackbar-error .mdc-snackbar__surface {
    background-color: rgb(255 0 24 / 80%);
  }

  &.snackbar-warning .mdc-snackbar__surface {
    background-color: rgb(255 192 0 / 80%);
    color: #000;
  }

  &.snackbar-success .mdc-snackbar__surface {
    background-color: rgb(38 220 80 / 80%);
  }

  .snackbar-info {
    font-size: 12px;
    padding-inline: 5px;
    line-height: 2;
    margin: 0;
  }

  .mat-mdc-snack-bar-action .mdc-button__label {
    color: white;
  }
}



@keyframes hidePopup {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// @media screen and (max-width: 768px) {
//   .portfolio {
//     height: 100;
//   }
// }