.header {
  padding: 10px 0;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #4f4f4f85;
  // backdrop-filter: blur(10px);

  .name {
    margin: 0;
    font-weight: 800;
    transition: 0.4s ease;
    color: var(--text-color);
    cursor: pointer;
    background-color: transparent !important;

    &:hover {
      transform: scale(1.05);
    }

    .last-name {
      color: var(--primary-color);
      // text-shadow: 0 0 25px var(--primary-color);
    }
  }

  .navbar {
    column-gap: 10px;
    padding: 0;

    .active .link {
      color: var(--primary-color) !important;

      &::after {
        transform: scale(1, 1) !important;
      }
    }

    .menu-list {
      display: flex;
      gap: 10px;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0px 5px;

        .link {
          position: relative;
          color: var(--text-color);
          font-weight: 400;
          padding: 5px 0;
          text-transform: capitalize;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--primary-color);
            left: 0;
            bottom: 0;
            transform: scale(0, 1);
            transform-origin: 0% 100%;
            transition: transform 0.3s ease;
          }

          &:hover {
            color: var(--primary-color) !important;
            transform: color .3s ease;

            &::after {
              transform: scale(1, 1);
            }
          }
        }
      }
    }

    .switch {
      display: inline-block;
      width: 30px;
      height: 30px;
      cursor: pointer;

      input {
        opacity: 1;
        width: 0;
        height: 0;
        border: 1 solid;

        &::before {
          font-family: "Material Icons";
          font-size: 27px;
          color: var(--text-color);
          display: inline-block;
          line-height: 30px;
          height: 30px;
        }

        &:checked::before {
          content: "\e51c";
        }

        &:not(:checked)::before {
          content: "\e518";
        }
      }
    }

    .menu-icon {
      display: none;
      border: none;
      background-color: transparent;
      z-index: 1;

      & .icon-menu,
      & .icon-close {
        color: var(--text-color);
        font-size: 22px;
        cursor: pointer;
      }

      input[type="checkbox"] {
        appearance: none;
      }
    }
  }


  @media screen and (max-width: 768px) {

    .navbar {
      position: absolute;
      right: 15px;
    }

    .menu-list {
      height: 0;
      padding-left: 0;
      overflow: hidden;
      flex-direction: column;
      // align-items: center;
      transition: all 0.5s ease-in-out;
      position: absolute;
      top: 5px;
      right: 0;
      background-color: var(--second-bg-color);
      // padding-right: 20px;
      border-radius: 5px;

      li {
        padding: 5px 25px;

        &:first-child {
          margin-top: 20px;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }

    // .logo {
    //   display: flex;
    //   justify-content: space-between;
    // }
    .menu-icon {
      display: block !important;
    }

    .icon-close {
      display: none;
    }

    &:has(.menu-icon input[type="checkbox"]:checked) .menu-list {
      // margin-top: 1rem;
      height: auto;
    }

    &:has(.menu-icon input[type="checkbox"]:checked) .icon-menu {
      display: none;
    }

    &:has(.menu-icon input[type="checkbox"]:checked) .icon-close {
      display: inline-block;
      position: absolute;
      top: 15px;
      right: 5px;
    }
  }

  // .nav {
  //   gap: 20px;
  //   align-items: center;

  //   .active .link {
  //     color: var(--primary-color) !important;

  //     &::after {
  //       transform: scale(1, 1);
  //     }
  //   }

  //   .link {
  //     position: relative;
  //     color: var(--text-color);
  //     font-weight: 700;
  //     padding: 5px 0;

  //     &::after {
  //       content: '';
  //       position: absolute;
  //       width: 100%;
  //       height: 2px;
  //       background-color: var(--primary-color);
  //       left: 0;
  //       bottom: 0;
  //       transform: scale(0, 1);
  //       transform-origin: 0% 100%;
  //       transition: transform 0.3s ease;
  //     }

  //     &:hover {
  //       color: var(--primary-color) !important;
  //       transform: color .3s ease;

  //       &::after {
  //         transform: scale(1, 1);
  //       }
  //     }
  //   }
  // }
}