<div class="header">
  <div class="container-lg">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <div class="d-flex justify-content-between">
      <div class="logo">
        <h2 class="name">Tagore <span class="last-name">Banda</span></h2>
      </div>
      <div class="navbar">
        <ul class="menu-list">
          <li class="active"><a href="#home" class="link">Home</a></li>
          <li><a href="#about" class="link">About</a></li>
          <li><a href="#" class="link">Journey</a></li>
          <li><a href="#" class="link">Featured Projects</a></li>
          <li><a href="#" class="link">Contact</a></li>
        </ul>
        <button class="menu-icon">
          <label for="dropdown">
            <i class='bx bx-menu icon-menu'></i>
            <i class='bx bx-x icon-close'></i>
          </label>
          <input type="checkbox" id="dropdown" />
        </button>
      </div>
    </div>
    <label class="switch">
      <input type="checkbox" id="theme" name="themepicker" data-theme-toggle value="false">
      <span class="slider round"></span>
    </label>
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <!-- <select data-theme-picker name="themepicker">
    <option value="☀️">Light</option>
    <option value="🌑">Dark</option>
  </select> -->

</div>