<div class="header">
  <div class="container-lg">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->
    <div class="d-flex justify-content-between">
      <div class="logo">
        <h2 class="name">Tagore <span class="last-name">Banda</span></h2>
      </div>
      <div class="navbar">
        <ul class="menu-list">
          <li [class.active]="i === 0" #navLink *ngFor="let link of sections; let i = index">
            <a [href]="'#' + link" class="link" (click)="updateHeaderActive($event)">{{link}}</a>
          </li>
        </ul>
        <label class="switch">
          <input type="checkbox" id="theme" name="themepicker" data-theme-toggle value="false">
        </label>
        <button class="menu-icon">
          <label for="dropdown">
            <i class='bx bx-menu icon-menu'></i>
            <i class='bx bx-x icon-close'></i>
          </label>
          <input type="checkbox" id="dropdown" />
        </button>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <!-- <select data-theme-picker name="themepicker">
    <option value="☀️">Light</option>
    <option value="🌑">Dark</option>
  </select> -->

</div>