<div class="journey bg-color">
  <h3 class="navigation-title" id="journey">
    My
    <span>Journey</span>
  </h3>
  <div class="custom-switch">
    <div class="switch-types">
      <input type="checkbox" [(ngModel)]="isExperience" hidden>
      <span class="journey-type" [class.active]="!isExperience" (click)="isExperience = false;">Education</span>
      <span class="journey-type" [class.active]="isExperience" (click)="isExperience = true;">Experience</span>
    </div>
  </div>

  <div class="journeys-container">
    <div class="journey-div">
      UI Designer
    </div>
  </div>
</div>