/* You can add global styles to this file, and also import other style files */

:root {
  /** Dark Mod colors */
  // --text-color: black;
  // --primary-color: orangered;
  // --bg-color: #f8f8f8;
  // --second-bg-color: #e3e3e3;
  // --mobile-size: 768px;
}

// @custom-media --mobile-size (max-width: 768px);


@media (prefers-color-scheme: dark),
(prefers-color-scheme: light) {
  :root {
    --text-color: white;
    --primary-color: orangered;
    --bg-color: #080808;
    --second-bg-color: #131313;
  }
}

/* CSS-only solution using :has() */
:root:has(#theme[value="false"]:checked) {
  /** Light Mod colors */
  color-scheme: light;
  --text-color: black;
  --primary-color: orangered;
  --bg-color: #f8f8f8;
  --second-bg-color: #e3e3e3;
}

:root:has(#theme[value='true']:checked) {
  /** Dark Mod colors */
  color-scheme: dark;
  --text-color: white;
  --primary-color: orangered;
  --bg-color: #080808;
  --second-bg-color: #131313;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  color-scheme: dark light;
}

.row {
  width: 100%;
  margin: 0;
}

.bg-color {
  background-color: var(--bg-color);
}

.second-bg-color {
  background-color: var(--second-bg-color);
}

/*--------------| Slider Design |----------------*/

.btn-slide-animation {
  // background-color: green !important;
  z-index: 1;
  position: relative;

  &.slide-main::before {
    background-color: var(--primary-color);
  }

  &.slide-transparent::before {
    background-color: var(--bg-color);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    // background-color: white;
    z-index: -1;
    transition: transform 350ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }

  &:hover::before,
  &:focus::before {
    transform: scaleX(1);
  }
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: 12px;
  right: 30px;
  display: inline-block;
  width: 60px;
  height: 34px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.slider {
      background-color: #2196F3;
    }

    &:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    /* Rounded sliders */
    &.round {
      border-radius: 34px;
    }

    &.round:before {
      border-radius: 50%;
    }
  }
}

/*-----------------------------------------------*/

/*-------------| Navigations title Design |--------*/

.navigation-title {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;

  span {
    color: var(--primary-color);
  }
}